<?xml version='1.0' encoding='utf-8'?>
<widget id="com.marciocarneiro.appnotas" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>APP NOTAS</name>
    <description>Um aplicativo para realizar anotações simples</description>
    <author email="mac.carneiro@yahoo.com.br" href="https://marciocarneiro77.github.io">
        Marcio O. Carneiro
    </author>
    <icon src="res/icon.png">
    <content src="index.html" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
</widget>
